@use 'variaveis' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fonte;
  background-color: $cor-fundo;
  color: $cor-texto;
}

.container {
  width: 90%;
  margin: auto;
}